In [15]:
import pandas as pd

df = pd.read_csv('StudentsPerformance.csv')
df.head()

df.info()
df.isnull().sum()
df.describe()
df.groupby('Gender')[['Math Score', 'Reading Score', 'Writing Score']].mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       1000 non-null   object
 1   Race/Ethnicity               1000 non-null   object
 2   Parental level of Education  1000 non-null   object
 3   Lunch                        1000 non-null   object
 4   Test preparation course      1000 non-null   object
 5   Math Score                   1000 non-null   int64
 6   Reading Score                1000 non-null   int64
 7   Writing Score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

        Math Score  Reading Score  Writing Score
Gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

## Exploratory Data Analysis (EDA) Summary

In this task, Exploratory Data Analysis was performed on a student performance dataset.
The dataset structure, data types, and missing values were examined.
Summary statistics were generated to understand score distributions across subjects.
The analysis also explored performance differences based on gender.
Overall, EDA helped identify key patterns and trends in student academic performance.